@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');
/*Color Classes*/
:root{
    --color-Mercury: #DEF4FC;
    --color-Venus:#F7CC7F;
    --color-Earth: #545BFE;
    --color-Mars:#FF6A45;
    --color-Jupiter: #ECAD7A;
    --color-Saturn: #FCCb6B;
    --color-Uranus: #65F0D5;
    --color-Neptune: #497EFA;
}

.bg-mercury{
    background-color: #DEF4FC;
}

.bg-venus{
    background-color: #F7CC7F;
}

.bg-Earth{
    background-color: #545BFE;
}

.bg-Mars{
    background-color: #FF6A45;
}

.bg-Jupiter{
    background-color: #ECAD7A;
}

.bg-Saturn{
    background-color: #FCCb6B;
}

.bg-Uranus{
    background-color: #65F0D5;
}

.bg-Neptune{
    background-color: #497EFA;
}

.spartan{
    font-family: 'League Spartan', sans-serif;
}

.antonio{
    font-family: 'Antonio', sans-serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(7,7,36);
    background-image: url(../../assets/background-stars.svg);
    color: white;
    
}

/*Navbar*/

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Antonio', sans-serif;
    border-bottom: 1px solid #979797;
    padding: 16px 24px;
}

.navbar-logo{
text-transform: uppercase;
font-weight:  500;
}

.hamburger{
    cursor: pointer;
}

nav{
    position:absolute;
    top:75px;
    left:0;
    background-color: rgb(7,7,36);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:15px;
    transition: all 500ms ease-in-out;
    z-index: 5;
}

.links{
    font-family: 'League Spartan', sans-serif;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 1.36px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    padding:44px 24px 67px 24px;
}

.nav-link{
    border-bottom: 1px solid #979797;
    padding:20px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.nav-link:last-child{
    border-bottom: none;
}

.hide{
    transform: translateX(-100%);
}

.icon{
    width:20px;
    height: 20px;
    border-radius: 50%;
}

.link-container{
    display:flex;
    gap: 25px;
   
}

/*Content Selector*/

.mobile-btn-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #979797;
    padding:0 24px;
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.93px;
    color:#979797;
    margin-bottom: 24px;
}

.btn-holder{
    display: none;
}

.info-btn{
    padding:20px 0;
    cursor: pointer;
}

.active{
    color:white;
    border-bottom:3px solid #497EFA ;
}

/*Planet Display*/
.planet-img{
    display:flex;
    justify-content: center;
    position: relative;
    margin-bottom: 98px;
}

.planet-img img{
    max-width: 100%;
}

.content-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 28px;
}

.content-text{
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}


.source{
    display: flex;
    gap:4px;
    align-items: center;
    color:#979797;
    font-size: 12px;
}

.source a{
    color:#979797;
    font-weight:700 ;
}

/*Planet Stats*/
.stats{
    display:flex;
    flex-direction: column;
    gap:8px;
    padding:0 24px;
}

.stat-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #979797;
    padding:10px 24px;
}

.stat{
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -.75px;
}

.stat-label{
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .73px;
    color: #979797;
}

@media screen and (min-width:768px) {
   .mobile-btn-holder{
    display:none;
   }

   .display-container{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 768px;
    padding: 0 40px;
   }

   .content-container{
    margin-left: 0;
    width: 339px;
    align-items: start;
   }

   .content-text{
    text-align: left;
   }

   .btn-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 281px;
    gap:16px;
   }

   .info-btn{
    border: 1px solid #979797;
    display: flex;
    align-items: center;
    gap: 17px;
    padding-left: 20px;
    height: 40px;
   }

   .stats{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0 40px;
    margin-top: 27px;
   }

   .stat-container{
    flex-direction: column;
    align-items: start;
   }

   .navbar{
    flex-direction: column;
   }

   .hamburger{
    display:none;
   }

   nav {
    position: static;
    background-color: transparent;
    
   }

   .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    padding:0;
   }

   .hide{
    transform: translate(0);
   }
   
   .nav-link{
    border-bottom: none;
    
    
   }

   .chevron {
    display: none;
   }

   .icon{
    display:none;
   }

   .planet-img{
    margin-top:27px;
   }
}

@media screen and (min-width:1440px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        width: 700px;
    }

    .container{
        margin: 50px auto;
    }

    .planet-info-display{
        display: flex;
        align-items: center;
        gap:220px;
        width: 1200px;
        margin: auto;
        justify-content: flex-end;
    }

    .display-container{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .planet-img-container{
 
    }

    .btn-holder{
        width: 100%;
    }
    .stats{
        width: 1200px;
        margin: 50px auto;
        padding: 0;
    }

    .stat {
        font-size: 40px;
    }

    .antonio{
        font-size: 80px;
    }

    .content-text{
        font-size: 14px;
    }


}